<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="../public/rainyday.js" charset="utf-8"></script>


  </head>

  <body>
    <div class="container">

        <img id="background-img" alt="background" src="" />

       <div id="canvasHolder">
       	<canvas id="canvas" width="600" height="400"></canvas>
       </div>

       <button id='rainy-run' type="button" name="button">Click to run rainy day</button>
    </div>

    <script type="text/javascript">

      $('#background-img').hide()

      $('#rainy-run').on('click', function run() {
            $('#background-img').show()
            var image = document.getElementById('background-img');
            image.onload = function() {
                var engine = new RainyDay({
                    image: this,
                    // crop: [ 50, 50, 600, 400]
                    fps: 50,
                    fillStyle: 'white',
                    // gravityThreshold: 10,
                    gravityAngle: Math.PI/10,
                    gravityAngleVariance: 0
                }, document.getElementById('canvas'));

                engine.trail = engine.TRAIL_NONE;
                engine.gravity = engine.GRAVITY_LINEAR;
                engine.reflection = engine.REFLECTION_NONE;
                engine.rain([ [5, 2, 0.1], [3,3,0.8]], 7);
            };
              image.crossOrigin = 'anonymous';
              image.src = './soma_night.jpg';
          })

    </script>

  </body>
</html>
