<!-- <div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>NodeJS + Passport</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/login" class="btn btn-default">Local Login</a>
    <a href="/signup" class="btn btn-default">Local Signup</a>
    <hr>
    <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4>
    <button id='rainy-run' type="button" name="button">Click to run rainy day</button>
</div>



<div class="intro deep-teal lighten-2 z-depth-1">
<h1 class="grey-text text-lighten-5">narayan prusty</h1>
<h5 class="grey lighten-4 grey-text text-darken-1">web and mobile developer</h5>
</div> -->


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text">CliMate</h1>
      <div class="row center">
        <h5 class="header col s12 light">A virtual weather application that prepares you for the good, the bad and the ugly.</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light teal">Sign Up</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Uber</h5>

            <p class="light">We did most of the heavy lifting for you to provide a safe route home using uber. During any weather condition you can find your way to your destiniation.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">stars</i></h2>
            <h5 class="center">Yelp</h5>

            <p class="light">By utilizing elements and principles of yelp, we were able to create a list of attractions nearby to stay out of the rainy day.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">phonelink_ring</i></h2>
            <h5 class="center">Twitter</h5>


            <p class="light">Stay up to date with live tweets from your selected location with our twitter stream.</p>
          </div>
        </div>


        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center teal-text"><i class="material-icons">cloud</i></h2>
            <h5 class="center">3 Day Weather Forecast</h5>

            <p class="light">We have provided detailed documentation as well as specific wind conditions for the next 3 days. We are also always updating the forecast to give you current conditions.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
