<!-- <div class="col-sm-6 col-sm-offset-3">
    <h1>Login</h1>
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-info btn-lg">Login</button>
    </form>

    <hr>

    <h2>Or Login With <a href="/auth/facebook" class="btn btn-primary btn-lg">Facebook</a></h2>

    <p>Or, <a href="/signup">Signup</a></p>
    <p>Go back <a href="/">home</a>.</p>

</div> -->

<div class="row">
  <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
  <% } %>
<div class="col s12 m6">
  <form action="/login" method="post" class="col s12">
    <h4 class="header">LOGiN</h4>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
    </button>
  </form>

</div>
  <div class="col s12 m6">
    <h4>Or Login with</h4>
    <hr>
    <a href="/auth/facebook" class="btn waves-effect waves-light" type="submit" name="action">Facebook</a>
  </div>
</div>
