<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row">
        <div class="location-search">
            <form action="/profile" class="form-inline">
                <input name="country" id="appendCountryUrl" type="text" placeholder="Country(if outside USA)">
                <input name="state" id="appendStateUrl" type="text" placeholder="State(USA only)">
                <input name="city" id="appendCityUrl" type="text" placeholder="City">
                <button type="button" class="btn btn-primary" id= "submit"> <i class="icon-search icon-white">Submit</i></button>
                Welcome back, <%= user.local.name || user.facebook.name %>
                <button type="button" a href="/logout" class="btn btn-default btn-sm"x>Logout</a>
                <button type="button" class="btn btn-primary btn-lg" id="settingButton"> </button>
            </form>

        </div>


</div>

<a href="http://api.wunderground.com/api/726c0ba149d8a811/conditions/q/" id="baseUrl"></a>

<!-- Uber Button for Testing -->
<div class="button"></div>

<!-- Main Container -->

    <div class="row-fluid">
        <div class="col-md-2">
<!-- Weather Sidebar -->
                <div class="row">
                <div class="small-9 medium-5 small-centered columns">

                <div class="weather">

                      <header class="header">
                        Twitter Live Stream
                      </header>
                      <div class="twitterStream">
                      </div>

                    <article>



                    </article>

                    </div>
                  </div>
                </div>
      <!--Sidebar content-->

        </div>

        <div class= "col-md-8">
      <!--Body content-->
        </div>


        <div class="col-md-2">
      <!--Sidebar content-->
              <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-uikit-feb.css" rel="stylesheet">
                    <div class="row">
                    <div class="small-9 medium-5 small-centered columns">

                    <div class="weather">

                          <header class="header">
                                  <h2>53&#176;F</h2>
                                  <!-- insert data.temperature here -->
                                  <div class="weather-icon-shadow">
                                    <span class="icon-droplets"></span>
                                  </div>
                                  <div class="weather-icon">
                                    <span class="icon-droplets"></span>
                                  </div>
                          </header>

                          <article>


                            <li class="day">
                                  <span class="image">
                                    <img src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span class="day-title">Today</span><br />
                                  <span class="temp">52&#176;</span>
                                  <div class="day-icon">
                                    <span class="icon-cloud"></span>
                                  </div>
                            </li>

                            <li class="day">
                                  <span class="image">
                                    <img src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span class="day-title">Tomorrow</span><br />
                                  <span class="temp">55&#176;</span>
                                  <div class="day-icon">
                                    <span class="icon-cloud2"></span>
                                  </div>
                            </li>
                            <li class="day">
                                  <span class="image">
                                    <img src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span class="day-title">2 days from now</span><br />
                                  <span class="temp">47&#176;</span>
                                  <div class="day-icon">
                                    <span class="icon-droplets"></span>
                                  </div>
                            </li>


                        </article>

                        </div>
                      </div>
                    </div>

            </div>
      </div>
      <br><br>

<!-- API Display Box -->

    <div class='apiDisplay'>


      <div id='parent_div_1'>
            <div class ='child_div_1'>
                  <button type= "button" class="btn btn-primary btn-xl" id="yelpAPIbutton">
                    <!-- <img src="yelplogo.jpg" /> -->
                  </button>
            </div><br><br><br><br>
            <div class ='child_div_2'>
                  <button type="button" class="btn btn-primary btn-xl" id="uberAPIbutton">
                    <!-- <img src="uberlogo.jpg" /> -->
                  </button>
            </div>
      </div>

      <div id='parent_div_2'>
          <div class ='child_div_1'>YELPAPI: 1st biz name</div>
          <div class ='child_div_2'>biz2</div>
          <div class ='child_div_2'>biz3</div>
          <div class ='child_div_2'>biz4</div>
          <div class ='child_div_2'>biz5</div>
      </div>

      <div id='parent_div_3'>
          <div class ='child_div_1'>UBERAPI</div>
          <div class ='child_div_2'></div>
      </div>

  </div>


<script src="scripts/main.js" charset="utf-8"></script>




<!-- Scripts to Run     -->
