<div class="row">
  <!-- City State Form -->
  <div class="col m12">
    <form action="/profile" class="form-inline">
      <div class="row">
        <div class="input-field col s3">
          <input id="city" type="text" name="city" class="validate appendCityUrl">
          <label for="city">City</label>
        </div>
        <div class="input-field col s3">
          <input id="state" type="text" name="state" class="validate appendStateUrl">
          <label for="state">State</label>
        </div>
        <div class="input-field col s3">
          <button class="btn waves-effect waves-light" type="button" id="submit" name="button"><i class="material-icons">search</i></button>
        </div>
        <div class="input-field col s3">
          Today's Forecast :
          <span id="temp0H"></span>
          <img id="img0"src=""></img>
        </div>
      </div>
    </form>
  </div>
  <!-- Yelp Container -->
  <div class="col m3">
    <ul class="collection yelp">
    </ul>
  </div>
  <!-- Uber container -->
  <div class="col m2">
    <ul class="collection uber">
      <li class="collection-item avatar">
        <img src="/uberx.png" alt="">
        <span class="title">UberX</span>
        <p>Price </p>
        <p>Time</p>
        <a href="#!" class="secondary-content"></a>
      </li>
      <li class="collection-item avatar">
        <img src="/uberx.png" alt="">
        <span class="title">UberX</span>
        <p>Price </p>
        <p>Time</p>
        <a href="#!" class="secondary-content"></a>
      </li>
      <li class="collection-item avatar">
        <img src="/uberx.png" alt="">
        <span class="title">UberX</span>
        <p>Price </p>
        <p>Time</p>
        <a href="#!" class="secondary-content"></a>
      </li>
      <li class="collection-item avatar">
        <img src="/uberx.png" alt="">
        <span class="title">UberX</span>
        <p>Price </p>
        <p>Time</p>
        <a href="#!" class="secondary-content"></a>
      </li>
      <li class="collection-item avatar">
        <img src="/uberx.png" alt="">
        <span class="title">UberX</span>
        <p>Price </p>
        <p>Time</p>
        <a href="#!" class="secondary-content"></a>
      </li>
    </ul>
  </div>
  <!-- Sam's Overachieving Baby -->
  <div class="col m4">
    <div class="canvas-holder">
      <canvas id="canvas"></canvas>
    </div>
  </div>
  <!-- weather container collapsible -->
  <div class="col m3">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div id="2" class="collapsible-header showDetails">
          <img src="" alt="" id="img1" />
          <span id="day1title">Mon</span>-
          <span id="temp1H">55</span>/
          <span id="temp1L">22</span>
        </div>
        <div  class="collapsible-body">
          <p id="details2">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li>
        <div id="4" class="collapsible-header showDetails">
          <img src="" alt="" id="img2" />
          <span id="day2title">Mon</span>-
          <span id="temp2H">55</span>/
          <span id="temp2L">22</span>
        </div>
        <div  class="collapsible-body">
          <img src="" alt="" id="img2" />
          <p id="details4">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li>
        <div id="6" class="collapsible-header showDetails">
          <img src="" alt="" id="img3" />
          <span id="day3title">Mon</span>-
          <span id="temp3H">55</span>/
          <span id="temp3L">22</span>
        </div>
        <div class="collapsible-body">
          <p id="details6">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col m12" id="twitter-container">
    <div class="card teal lighten-2">


        <div class="row">
          <div id="toast-container">

          </div>
          <img id="twit-logo" style="display: inline-block"src="http://i.imgur.com/QfRzE1w.png?1" height=50 width=50/>
          <!-- <p style="display: inline-block" class="twitterStream">Tweet Tweet:</p> -->

        </div>

    </div>
  </div>
</div>
<!-- Scripts to Run     -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.7.js"></script>

<script src="scripts/main.js" charset="utf-8"></script>
