<<<<<<< HEAD

<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="row">
        <div class="location-search">
            <form action="/profile" class="form-inline">
              <div class="form-input">
                <input name="city" id="appendCityUrl" type="text" placeholder="City">
              </div>
              <div class="form-input">
                <input name="state" id="appendStateUrl" type="text" placeholder="State(USA only)">
              </div>
              <div class="form-input">
                  <input name="country" id="appendCountryUrl" type="text" placeholder="Country(if outside USA)">
              </div>


                <button type="button" class="btn btn-primary" id="submit"> <i class="icon-search icon-white">Submit</i></button>
                <!-- Welcome back, <%= user.local.name || user.facebook.name %> -->
                <!-- <button type="button" a href="/logout" class="btn btn-default btn-sm"x>Logout</a>
                <button type="button" class="btn btn-primary btn-lg" id="settingButton"> </button> -->
            </form>

        </div>


</div>

<a href="http://api.wunderground.com/api/726c0ba149d8a811/conditions/q/" id="baseUrl"></a>



<!-- Main Container -->

    <div class="container-fluid">
      <div class="row">
  <!--Body content-->
        <div class="col-md-8">
          <div class="canvas-holder">
            	<canvas id="canvas" width="600" height="400"></canvas>
          </div>
        </div>


        <div class="col-md-2" id="weather-sidebar">
      <!--Sidebar content-->
              <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-uikit-feb.css" rel="stylesheet">
                    <div class="row">
                    <div class="small-9 medium-5 small-centered columns">

                    <div class="weather">

                          <header class="header">

                                  <div class="currDay">
                                    <span id="temp0H">Current</span>
                                  </div>
                                  <div class="weather-icon">
                                    <img id="img0"src=""></img>
                                  </div>
                          </header>

                          <article>
                          <li id="day1" style="list-style-type: none;">
                                  <span class="image">
                                    <img id="img1" src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span id="day1title"></span><br />
                                  <span id="temp1H"></span>/
                                  <span id="temp1L"></span>
                                  <a class="showDetails" id='2' href="#">Details</a>
                                  <div id="details2"></div>
                            </li>
                            <li id="day2" style="list-style-type: none;">
                                  <span class="image">
                                    <img id="img2" src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span id="day2title"></span><br />
                                  <span id="temp2H"></span>/
                                  <span id="temp2L"></span>
                                  <a class="showDetails" id="4" href="#">Details</a>
                                  <div id="details4"></div>
                            </li>
                            <li id="day3" style="list-style-type: none;">
                                  <span class="image">
                                    <img id="img3" src="http://placehold.it/50x50/f2f2f2" />
                                  </span>
                                  <span id="day3title"></span><br />
                                  <span id="temp3H"></span>/
                                  <span id="temp3L"></span>
                                  <a class="showDetails" id="6" href="#">Details</a>
                                  <div id="details6"></div>
                            </li>
                        </article>
                        </div>
                      </div>
                    </div>

        </div>

      </div>
    </div>
<div class="container">


<!-- Tweets card -->
<div class="col s12 m12">
  <div class="card teal lighten-2">
    <div class="card-content white-text">
      <div class="row">
        <div class="col s3">
          <img src="http://i.imgur.com/QfRzE1w.png?1" height=60 width=60/>
=======
<div class="row">
  <!-- City State Form -->
  <div class="col m12">
    <form action="/profile" class="form-inline">
      <div class="row">
        <div class="input-field col s3">
          <input id="city" type="text" name="city" class="validate">
          <label for="city">City</label>
        </div>
        <div class="input-field col s3">
          <input id="state" type="text" name="state" class="validate">
          <label for="state">State</label>
        </div>
        <div class="input-field col s3">
          <button class="btn waves-effect waves-light" type="button" id="submit" name="button"><i class="material-icons">search</i></button>
        </div>
        <div class="input-field col s3">
          Today's Forecast :
          <span id="temp0H"></span>
          <img id="img0"src=""></img>
        </div>
      </div>
    </form>
  </div>
  <!-- Yelp Container -->
  <div class="col m3">
    <ul class="collection yelp">
    </ul>
  </div>
  <!-- Uber container -->
  <div class="col m2">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle">folder</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
  <!-- Sam's Overachieving Baby -->
  <div class="col m4">
    <div class="canvas-holder">
      <canvas id="canvas" width="600" height="400"></canvas>
    </div>
  </div>
  <!-- weather container collapsible -->
  <div class="col m3">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div id="2" class="collapsible-header showDetails">
          <img src="" alt="" id="img1" />
          <span id="day1title">Mon</span>-
          <span id="temp1H">55</span>/
          <span id="temp1L">22</span>
        </div>
        <div  class="collapsible-body">
          <p id="details2">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li>
        <div id="4" class="collapsible-header showDetails">
          <img src="" alt="" id="img2" />
          <span id="day2title">Mon</span>-
          <span id="temp2H">55</span>/
          <span id="temp2L">22</span>
        </div>
        <div  class="collapsible-body">
          <img src="" alt="" id="img2" />
          <p id="details4">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
      <li>
        <div id="6" class="collapsible-header showDetails">
          <img src="" alt="" id="img3" />
          <span id="day3title">Mon</span>-
          <span id="temp3H">55</span>/
          <span id="temp3L">22</span>
>>>>>>> 79f8fbbae0a90a84e4c6b9ba3a314da89759fbbd
        </div>
        <div class="collapsible-body">
          <p id="details6">Lorem ipsum dolor sit amet.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="col m12">
    <div class="card teal lighten-2">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s3 offset-s4">
            <img style="display: inline-block"src="http://i.imgur.com/QfRzE1w.png?1" height=50 width=50/>
            <p style="display: inline-block" class="twitterStream">teals go here bitch!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
<!-- weather container collapsible -->
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      <span id="day1title">Test</span>-
      <span id="temp1H">55</span>/
      <span id="temp1L">22</span>
    </div>
    <div id="2" class="collapsible-body">
      <img src="" alt="" id="img1" />
      <p id="details2">Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header showDetails"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><p id="details3">Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header showDetails"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
</div>

=======
>>>>>>> 79f8fbbae0a90a84e4c6b9ba3a314da89759fbbd
<!-- Scripts to Run     -->

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script src="scripts/main.js" charset="utf-8"></script>
