<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <input type="text" id="loc" name="location" value="">
    <button type="button" id="search" name="button">Search</button>
    <div id="yelp-list">

    </div>
    <script type="text/javascript">
    $("#search").on('click',function() {
      // body...
      $.ajax({
        url: '/'+ $("#loc").val(),
        method: 'GET',
        success: function(data){
          console.log('===========',data)
          for (var i = 0; i < 5; i++){
            var business = data.businesses[i]
            console.log(business)
              $("#yelp-list").append('<div>'+ business.location.neighborhoods[0] + '</div>')
            }
          }
        })
      })
    </script>
  </body>
</html>
