/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*Signup form styling*/
#facebook-submit{
    height: 3rem;
    padding-top: 7px;
    font-size: 25px;
    border-radius: 10px;
}

#local-submit{
  border-radius: 10px;
}

/*layout styling*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



main {
  flex: 1 0 auto;
}



#index-banner.section.no-pad-bot {
  background: url('/seafoam-copy.jpg') no-repeat center fixed;
}


/*Search Bar form Input*/
/*//////////////////////////////////////////////////////////*/
.form-input{
  width: 200px;
  display: inline-table;
  border: 2px outset #4db6ac;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

input#appendCityUrl {
  border-bottom: none;
  height: 1.2rem;
}
input#appendStateUrl {
  border-bottom: none;
  height: 1.2rem;
}
input#appendCountryUrl {
  border-bottom: none;
  height: 1.2rem;
}

#submit{
  margin-top: 10px;
  border: 2px outset black;
  border-radius: 5px;
  height: 3rem;
}

/*Main body: weather sidebar, tweets and canvas*/
/*#weather-sidebar{
  display:inline-grid;
  position: absolute;
}*/

/*.canvas-holder {
  position: relative;
  width: 600px;
  height: 400px;
}*/


#background-img {
  position: absolute;
  width: 600px;
  height: 400px;

}
